<div class="row">
  <h1 class="text-center my-5"><%=title%></h1>

  <!-- 도서 검색   !-->
  <div class="row mb-2">
    <form name="frm" class="col-6 col-md-4">
      <div class="input-group">
        <input name="query" class="form-control" value="자바">
        <button class="btn btn-primary">검색</button>
      </div>
    </form>
  </div>

  <!-- 검색 결과   !-->
  <div id="div_list" class="row"></div>
  <div class="text-center">
    <button id="prev" class="btn btn-primary">이전</button>
    <span id="page" class="mx-3">1</span>
    <button id="next" class="btn btn-primary">다음</button>
  </div>

  <!-- 출력은 html에서 하고 출력 설정은 script에서. !-->
  <script id="temp_list" type="x-handlebars-template">
    {{#each documents}} <!-- 핸들바의 반복 함수.  documents는 이걸 반복하겠다는 내용!-->
    <div class="col-6 col-md-3 col-lg-2 mb-3">
        <div class="card">

          <div class="card-body">
            <a href="/kakao/book/info?title={{title}}&thumbnail={{thumbnail}}&price={{price}}\
            &authors={{authors}}&publisher={{publisher}}&isbn={{isbn}}&contents={{contents}}">
            <img src="{{funThumbnail thumbnail}}" width="100%" style="cursor:pointer"> <!-- 밑의 스크립트의 함수 사용-->
            </a>
          </div>

          <div class="card-footer" style="font-size: 12px;">
            <!-- 핸들바에선 변수사용시  중괄호 2개 사용 !-->
            <div class="ellipsis">{{title}}</div>
            <div>{{price}}원</div>
          </div>
        </div>
    </div>
    {{/each}}
  </script>

  <script>
    Handlebars.registerHelper("funThumbnail", function (thumbnail){
      if(thumbnail) return thumbnail;
      else return "http://via.placeholder.com/120x175" //"./images/no_image.png"
    });
  </script>

</div>

<script>
    let query = "자바"; // 검색어
    let size=12;  // 몇개 출력?
    let page =1; // page
    getList(); // getList 함수 출력

    $(frm).on("submit", function (e){
      e.preventDefault();
      query=$(frm.query).val();
      if(query==""){
        alert("검색어를 입력하세요!")
      }else {
        getList();
      }
    });

    // // 책 이미지 누르면 페이지 이동
    // $("#div_list").on("click", "img", function(){
    //     location.href="/kakao/book/info";
    // });


    $("#next").on("click", function (){
      page++;
      getList();
    });

    $("#prev").on("click", function (){
      page--;
      getList();
    });

    function getList (){
      $.ajax({
        type:"get",
        url:"https://dapi.kakao.com/v3/search/book?target=title",
        data: {query, size:size, page:page},
        headers:{ "Authorization": "KakaoAK fce5159e7d5768a57a2a9e1bf8a7ed53" }, // 인증키
        success:function (data){
          console.log(data);
          const temp=Handlebars.compile($("#temp_list").html());
          $("#div_list").html(temp(data));

          const last = Math.ceil(data.meta.pageable_count / size);
          $("#page").html(`${page}/${last}`);

          if(page==1) $("#prev").attr("disabled",true);
          else $("#prev").attr("disabled",false);

          if(data.meta.is_end) $("#next").attr("disabled",true);
          else $("#next").attr("disabled",false);
        }
      });
 }
</script>